<template>
  <div class="show">
      <nav>
          <p>
              2019年10月1日    星期二    上午11:05      8o C
                <img src="../images/clouds.png" alt="">
          </p>
          <h3>可视化数据展示平台</h3>
          <p>
              <img src="../images/ren.png" alt="">
              admin
              <span></span>
          </p>
      </nav>
      <div class="main">
        <ul class="left">
            <li id="lineChart"></li>
            <li>
                <h2>包图评价情况</h2>
                <div id="lineApp"></div>
                <div id="lineApps"></div>
            </li>
            <li>
                <h2>包图柱状图</h2>
                <div id="category"></div>
            </li>
        </ul>
        <ul class="center">

        </ul>
        <ul class="right">
            <li id="proportion">
                <h2>包图占比</h2>
                <div></div>
            </li>
            <li>
                <h2>包图时刻折线图</h2>
                <div id="line">

                </div>
            </li>
        </ul>
      </div>
  </div>
</template>

<script>
import echarts from "echarts"
export default {
    data() {
        return {
            optionLineChart :{
                xAxis: {
                    type: 'category',
                    data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
                    axisLabel: {
                    textStyle: {
                        color: '#fff',//坐标值得具体的颜色
 
                    }
                }
                },
                yAxis: {
                    type: 'value',
                    splitLine:{show: false},//去除网格线
                    axisLabel: {
                    textStyle: {
                        color: '#fff',//坐标值得具体的颜色
 
                    }
                }
                },
                series: [{
                    data: [820, 932, 901, 934, 1290, 1330, 1320],
                    type: 'line',
                    symbolSize:10, 
                    smooth: true,
                    itemStyle:{
                        normal : {
                            color:'#eb6100',
                            borderWidth:20,
                            lineStyle:{
                                color:'#eb6100'
                            }
                        }

                    },
                    areaStyle:{
                        normal:{
                            //颜色渐变函数 前四个参数分别表示四个位置依次为左、下、右、上
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{ 

                                offset: 0,
                                color: 'rgba(198,84,8,0.85)'
                            }, {
                                offset: .84,
                                color: 'rgba(136,63,21,0.25)'
                            },{
                                offset: 1,
                                color: 'rgba(198,84,8,0.00)'
                            }])

                        }
                    },//区域颜色渐变
                }]
            },

            optionLineApp :{
                title: {
                    text: '88%呼出满意度',
                    x:'center',
                    y:'center',
                    textStyle: {
                        color:'#888b94',
                        fontSize:'16',
                        fontWeight:'normal',
                    }
                },
                //系列列表
                series: [
                    {
                        //图标类型，pie是饼图
                        type:'pie',
                        //内外半径
                        radius: ['50%', '75%'],
                        //是否启用防止标签重叠策略,默认是true，一般圆环圆设为false
                        avoidLabelOverlap: false,
                        //饼图图形上的文本标签(在这里是上涨或下跌)是否在中心环中显示
                        label: {
                            normal: {
                                show: true,
                                position: 'center'
                            },
                            emphasis: {
                                show: false,
                                textStyle: {
                                    fontSize: '10',
                                    fontWeight: 'bold'
                                }
                            }
                    },
                        //系列中的数据内容数组
                    data:[{
                        //数据值
                        value:88,
                        //数据项名称
                        // name:'满意度',
                        //图形样式
                        itemStyle:{
                            normal:{
                                show:true,
                                //渐变色，一共五个参数，前四个0,0,0,1代表渐变色从正上方开始
                                //第5个参数则是一个数组, 用于配置颜色的渐变过程; 每一项为一个对象, 包含offset和color两个参数. offset的范围是0 ~ 1, 用于表示位置, color不用多说肯定是表示颜色了. 像示例代码的配置则表示:
                                color: new echarts.graphic.LinearGradient(
                                    0, 0, 0, 1,
                                    [
                                        {offset: 0, color: '#c86dff'},
                                        {offset: 1, color: '#3262ff'}
                                    ]
                                ),
                            },
                        },
                    },{
                        value:12,
                        // name:'不满意度',
                        //定义数据项的样式
                        itemStyle:{
                            normal:{
                                show:true,
                                color: new echarts.graphic.LinearGradient(
                                    0, 0, 0, 1,
                                    [
                                        {offset: 0, color: '#c86dff'},
                                        {offset: 1, color: '#bf6dfe'}
                                    ]
                                ),
                            },
                        },
                    }]
                    }
                ]
            },

            optionLineApps :{
                title: {
                    text:'67%呼入满意度',
                    x:'center',
                    y:'center',
                    textStyle: {
                        color:'#888b94',
                        fontSize:'16',
                        fontWeight:'normal',
                    }
                },
                //系列列表
                series: [
                    {
                        //图标类型，pie是饼图
                        type:'pie',
                        //内外半径
                        radius: ['50%', '75%'],
                        //是否启用防止标签重叠策略,默认是true，一般圆环圆设为false
                        avoidLabelOverlap: false,
                        //饼图图形上的文本标签(在这里是上涨或下跌)是否在中心环中显示
                        label: {
                            normal: {
                                show: true,
                                position: 'center'
                            },
                            emphasis: {
                                show: false,
                                textStyle: {
                                    fontSize: '10',
                                    fontWeight: 'bold'
                                }
                            }
                    },
                        //系列中的数据内容数组
                    data:[{
                        //数据值
                        value:67,
                        //数据项名称
                        // name:'满意度',
                        //图形样式
                        itemStyle:{
                            normal:{
                                show:true,
                                //渐变色，一共五个参数，前四个0,0,0,1代表渐变色从正上方开始
                                //第5个参数则是一个数组, 用于配置颜色的渐变过程; 每一项为一个对象, 包含offset和color两个参数. offset的范围是0 ~ 1, 用于表示位置, color不用多说肯定是表示颜色了. 像示例代码的配置则表示:
                                color: new echarts.graphic.LinearGradient(
                                    0, 0, 0, 1,
                                    [
                                        {offset: 0, color: '#c86dff'},
                                        {offset: 1, color: '#3262ff'}
                                    ]
                                ),
                            },
                        },
                    },{
                        value:33,
                        // name:'不满意度',
                        //定义数据项的样式
                        itemStyle:{
                            normal:{
                                show:true,
                                color: new echarts.graphic.LinearGradient(
                                    0, 0, 0, 1,
                                    [
                                        {offset: 0, color: '#c86dff'},
                                        {offset: 1, color: '#bf6dfe'}
                                    ]
                                ),
                            },
                        },
                    }]
                    }
                ]
            },

            optionCategory: {
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                yAxis: {
                    type: 'value'
                },
                xAxis: {
                    type: 'category',
                    data: ['2014', '2015', '2016', '2017', '2018', '2019']
                },
                series: [
                    {
                        name: '直接访问',
                        type: 'bar',
                        stack: '总量',
                        data: [60, 70, 100, 85, 80, 95],
                        color:"#76dcff"
                    },
                    {
                        name: '邮件营销',
                        type: 'bar',
                        stack: '总量',
                        data: [60, 70, 100, 85, 80, 95],
                        color:"#65e599"
                    },
                    {
                        name: '联盟广告',
                        type: 'bar',
                        stack: '总量',
                        data: [60, 70, 100, 85, 80, 95],
                        color:"#ffe357"
                    },
                    {
                        name: '视频广告',
                        type: 'bar',
                        stack: '总量',
                        data: [60, 70, 100, 85, 80, 95],
                        color:"#ff9988"
                    },
                    {
                        name: '搜索引擎',
                        type: 'bar',
                        stack: '总量',
                        data: [60, 70, 100, 85, 80, 95],
                        color:"#cea9ff"
                    }
                ]
            },

            optionProportion: {

            },

            optionLine :{
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: ['xx公司', 'by公司'],
                    top:"50px",
                    color:"#fff"
                    
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: ['2012','2013', '2014', '2015', '2016', '2017', '2018', '2019'],
                    color:"#fff"
                    
                },
                yAxis: {
                    type: 'value',
                    show: false,
                    splitLine:{
                        show:true,
                        lineStyle:{
                            type: "solid",
                            color:'#fff'
                        }
                    },
                    axisLabel : {
                        textStyle: {
                            color: '#fff'
                        }
                    }
                },
                series: [
                    {
                        name: 'xx公司',
                        type: 'line',
                        data: [80, 200, 108, 384, 294, 484, 202,298],
                        color:"#00a0e9",
                        itemStyle: {  
                            normal: {   //颜色渐变函数 前四个参数分别表示四个位置依次为左、下、右、上
                                color: new echarts.graphic.LinearGradient(0, 0, 0, 1,[{
                                        offset: 0, color: '#2b8dea' // 0% 处的颜色
                                    }, {
                                        offset: 0.84, color: '#00a0e9' // 100% 处的颜色
                                    }, {
                                        offset: 1, color: '#414146' // 100% 处的颜色
                                    }]
                                ),  //背景渐变色 
                            }, 
                        },//线条样式  
                        
                        areaStyle: {},
                    },
                    {
                        name: 'by公司',
                        type: 'line',
                        data: [80, 300, 400, 300, 400, 300, 400,203],
                        color: "#feac37",
                        itemStyle: {  
                            normal: {   //颜色渐变函数 前四个参数分别表示四个位置依次为左、下、右、上
                                color: new echarts.graphic.LinearGradient(0, 0, 0, 1,[{
                                        offset: 0, color: '#feac37' // 0% 处的颜色
                                    }, {
                                        offset: 0.64, color: '#856231' // 100% 处的颜色
                                    }, {
                                        offset: 1, color: '#414146' // 100% 处的颜色
                                    }]
                                ),  //背景渐变色 
                            }, 
                        },//线条样式  
                        areaStyle: {},
                    }
                ]
            }

        }
    },
    mounted() {
        var LineChart = echarts.init(document.getElementById("lineChart"))
        this.lineChart(LineChart)

        var LineApp = echarts.init(document.getElementById("lineApp"))
        this.lineApp(LineApp)

        var LineApps = echarts.init(document.getElementById("lineApps"))
        this.lineApps(LineApps)

        var Category = echarts.init(document.getElementById("category"))
        this.category(Category)

        var Line = echarts.init(document.getElementById("line"))
        this.line(Line)
    },
    methods:{
        lineChart(dom){
           const option = {
            xAxis: {
                type: 'category',
                data: ['周一', '周二', '周三', '周四', '周五', '周六', '周天','周一', '周二'],
                axisLabel: {
                    textStyle: {
                        color: '#fff',//坐标值得具体的颜色
                    }
                },
                axisTick:{
                    length:6
                }
            },
            yAxis: {
                type: 'value',
                splitLine:{show: false},//去除网格线,
                axisLabel: {
                    textStyle: {
                        color: '#fff',//坐标值得具体的颜色
 
                    }
                }
            },
            series: [{
                data: [3186, 3500, 2814, 3093, 3907, 3814, 2956,3000,2096],
                type: 'line',
                symbolSize:10, 
                smooth: true,
                itemStyle:{
                    normal : {
                        color:'#eb6100',
                        borderWidth:20,
                        lineStyle:{
                            color:'#eb6100'
                        }
                    }

                },
                areaStyle:{
                            normal:{
                               //颜色渐变函数 前四个参数分别表示四个位置依次为左、下、右、上
                                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{ 
 
                                    offset: 0,
                                    color: 'rgba(198,84,8,0.85)'
                                }, {
                                    offset: .84,
                                    color: 'rgba(136,63,21,0.25)'
                                },{
                                    offset: 1,
                                    color: 'rgba(198,84,8,0.00)'
                                }])
 
                            }
                        },//区域颜色渐变
            }]
            };
            dom.setOption({...this.optionLineChart,...option})
        },
        
        lineApp(dom){
            dom.setOption(this.optionLineApp,true)
        },

        lineApps(dom){
            dom.setOption(this.optionLineApps,true)
        },

        category(dom) {
            dom.setOption(this.optionCategory,true)
        },

        line(dom) {
            dom.setOption(this.optionLine,true)
        }


    }
}
</script>

<style lang="scss" scoped>
.show{
    background-color: #021132;
    height: 100vh;
    width: 100vw;
    >nav{
        background-image: url(../images/topbg.png);
        width: 100vw;
        height: 111px;
        display: flex;
        color: #fff;
        justify-content: center;
        position: relative;
        >h3{
            margin: 0;
            font-size: 40px;
            line-height: 111px;
        }
        >p:first-child{
            position: absolute;
            left: 0;
        }
        >p:last-child{
            right: 0;
            display: flex;
            align-items: center;
            >span{
                display: inline-block;
                width: 0;
                height: 0;
                border: 8px solid transparent;
                border-top-color: #fff;
                border-top-width: 5px;
                margin-top: 10px;
            }
        }
    }
    .main{
        display: flex;
        ul{
            li{
                display: flex;
                position: relative;
                width: 472px;
                height: 262px;
                background-image: url(../images/bgs.png);
                >h2{
                    position: absolute;
                    // top: 20px;
                    color: #fff;
                    font-size: 20px;
                    font-weight: normal;
                    padding-left: 30px;
                }
            }
        }
        .center{
            width: 800px;
        }
        .right{
            li{
                width: 440px;
                height: 400px;
                background-image: url(../images/bgRight.png);
                background-size: contain;
            }
        }
        #lineChart{
            width: 472px;
            height: 263px;
            background-image: url(../images/linebg.png);
        }
        #line{
            width: 472px;
            height: 400px;
        }
        #category{
            width: 472px;
            height: 263px;
        }
        #lineApp,#lineApps{
            width: 300px;
            height: 300px;
        }
    }

}
</style>