<template>
  <div class="dataService">
      <h1>大数据监控服务平台</h1>
      <div class="main">
          <div class="left">
              <ul>
                  <li>
                      <div id="service">

                      </div>
                  </li>
                  <li>
                      <h3>员工年龄及文化分布</h3>
                      <div id="age">

                      </div>
                      <div id="civilization">

                      </div>
                  </li>
                  <li>
                      <h3>全公司人员数据</h3>
                      <div id="bar">

                      </div>
                  </li>
              </ul>
          </div>
          <div class="right">
              <ul>
                  <li>
                      <div class="flower">
                          <p>高层人数</p>
                          <div class="inner">
                              <span>中层干部<s>77</s></span>
                              <span>小组领导<s>77</s></span>
                              <span>集成员工<s>77</s></span>
                              <span>高层员工<s>77</s></span>
                          </div>
                      </div>
                      <div id="stacked">

                      </div>
                  </li>
                  <li>
                    <div id="all">

                    </div>
                  </li>

              </ul>
          </div>
      </div>
  </div>
</template>

<script>
import echarts from "echarts"
export default {
    data() {
        var dataAxis = ['2010','2011','2012','2013','2014','2015','2016','2017','2018'];
        var data = [801, 622, 564, 612, 812, 609, 802, 455, 801];
        var yMax = 1000;
        var dataShadow = [];

        for (var i = 0; i < data.length; i++) {
            dataShadow.push(yMax);
        }
        return {
            optionService : {
                tooltip: {
                    trigger: 'item',
                    formatter: '{a} <br/>{b}: {c} ({d}%)'
                },
                legend: {
                    orient: 'vertical',
                    left: 10,
                    data: ['直接访问', '邮件营销', '联盟广告', '视频广告', '搜索引擎']
                },
                series: [
                    {
                        name: '访问来源',
                        type: 'pie',
                        radius: ['50%', '70%'],
                        avoidLabelOverlap: false,
                        label: {
                            normal: {
                                show: false,
                                position: 'center'
                            },
                            emphasis: {
                                show: true,
                                textStyle: {
                                    fontSize: '30',
                                    fontWeight: 'bold'
                                }
                            }
                        },
                        labelLine: {
                            normal: {
                                show: false
                            }
                        },
                        data: [
                            {value: 335, name: '直接访问'},
                            {value: 310, name: '邮件营销'},
                            {value: 234, name: '联盟广告'},
                            {value: 135, name: '视频广告'},
                            {value: 1548, name: '搜索引擎'}
                        ]
                    }
                ]
            },
            optionAge : {
                
                // legend: {
                //     orient: 'vertical',
                //     left: 100,
                //     data: ['30岁以下', '31至40岁', '41至50岁', '51至60岁', '60岁以上']
                // },
                series: 
                    {
                        itemStyle:{
                            emphasis: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                 },
                                normal:{
                                    color:function(params) {
                                    //自定义颜色
                                    var colorList = [           
                                            '#027ff2', '#f19610', '#8a00e1', '#00c6ff', '#34d160'
                                        ];
                                        return colorList[params.dataIndex]
                                     }
                                }
                        },
                        name: '访问来源',
                        type: 'pie',
                        radius: ['50%', '70%'],
                        // avoidLabelOverlap: false,
                        label: {
                            normal: {
                                show: true,
                                title:"5656",
                                position: 'center'
                            },
                            emphasis: {
                                show: true,
                                textStyle: {
                                    fontSize: '30',
                                    fontWeight: 'bold'
                                }
                            }
                        },
                        data: [
                            {value: 160, name: '30岁以下'},
                            {value: 80, name: '31至40岁'},
                            {value: 100, name: '41至50岁'},
                            {value: 260, name: '51至60岁'},
                            {value: 200, name: '60岁以上'}
                        ]
                    }
                
            },

            optionCivilization : {
                
                series: 
                    {
                        itemStyle:{
                            emphasis: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                 },
                                normal:{
                                    color:function(params) {
                                    //自定义颜色
                                    var colorList = [           
                                            '#027ff2', '#f19610', '#8a00e1', '#00c6ff', '#34d160'
                                        ];
                                        return colorList[params.dataIndex]
                                     }
                                }
                        },
                        name: '访问来源',
                        type: 'pie',
                        radius: ['50%', '70%'],
                        // avoidLabelOverlap: false,
                        label: {
                            normal: {
                                show: true,
                                title:"5656",
                                position: 'center'
                            },
                            emphasis: {
                                show: true,
                                textStyle: {
                                    fontSize: '30',
                                    fontWeight: 'bold'
                                }
                            }
                        },
                        data: [
                            {value: 20, name: '初中 20%'},
                            {value: 20, name: '普通高中 20%'},
                            {value: 20, name: '大学 20%'},
                            {value: 20, name: '大专 20%'},
                            {value: 20, name: '其他 20%'}
                        ]
                    }
                
            },
            
            optionBar : {
                // title: {
                //     text: '特性示例：渐变色 阴影 点击缩放',
                //     subtext: 'Feature Sample: Gradient Color, Shadow, Click Zoom'
                // },
                xAxis: {
                    data: dataAxis,
                    axisLabel: {
                        inside: false,
                        textStyle: {
                            color: '#5fb0df'
                        }
                    },
                    axisTick: {
                        show: false
                    },
                    axisLine: {
                        show: false
                    },
                    z: 10
                },
                yAxis: {
                    axisLine: {
                        show: false
                    },
                    axisTick: {
                        show: false
                    },
                    axisLabel: {
                        textStyle: {
                            color: '#999'
                        }
                    }
                },
                dataZoom: [
                    {
                        type: 'inside'
                    }
                ],
                series: [
                    { // For shadow
                        type: 'bar',
                        itemStyle: {
                            color: 'rgba(0,0,0,0.05)'
                        },
                        barGap: '-100%',
                        barCategoryGap: '40%',
                        data: dataShadow,
                        animation: false
                    },
                    {
                        type: 'bar',
                        itemStyle: {
                            color: new echarts.graphic.LinearGradient(
                                0, 0, 0, 1,
                                [
                                    {offset: 0, color: '#83bff6'},
                                    {offset: 0.5, color: '#188df0'},
                                    {offset: 1, color: '#188df0'}
                                ]
                            )
                        },
                        emphasis: {
                            itemStyle: {
                                color: new echarts.graphic.LinearGradient(
                                    0, 0, 0, 1,
                                    [
                                        {offset: 0, color: '#2378f7'},
                                        {offset: 0.7, color: '#2378f7'},
                                        {offset: 1, color: '#83bff6'}
                                    ]
                                )
                            }
                        },
                        data: data
                    }
                ]
            },

            optionStacked: {
                 title: {
                    // text: '南丁格尔玫瑰图',
                    // subtext: '纯属虚构',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: '{a} <br/>{b} : {c} ({d}%)'
                },
                legend: {
                    left: 'center',
                    top: 'top',
                    data: ['0-100', '100-200', '200-300', '400-500']
                },
                toolbox: {
                    show: true,
                    feature: {
                        mark: {show: false},
                        dataView: {show: false, readOnly: false},
                        magicType: {
                            show: true,
                            type: ['pie', 'funnel']
                        },
                        restore: {show: false},
                        saveAsImage: {show: false}
                    }
                },
                series: 
                    {
                        name: '半径模式',
                        type: 'pie',
                        radius: [20, 110],
                        center: ['50%', '57%'],
                        roseType: 'radius',
                        label: {
                            show: false
                        },
                        emphasis: {
                            label: {
                                show: true
                            }
                        },
                        data: [
                            {value: 10, name: '0-100'},
                            {value: 5, name: '100-200'},
                            {value: 15, name: '200-300'},
                            {value: 25, name: '400-500'},
                            {value: 20, name: '0-100'},
                            {value: 35, name: '100-200'},
                            {value: 30, name: '200-300'},
                            {value: 40, name: '400-500'}
                        ],
                        itemStyle:{
                            emphasis: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                    },
                                normal:{
                                    color:function(params) {
                                    //自定义颜色
                                    var colorList = [           
                                            '#125CF2', '#38D3F7', '#CFF648', '#FB6C25'
                                        ];
                                        return colorList[params.dataIndex]
                                        }
                                }
                        },
                    },
            },

            optionAll : {
                // title: {
                //     text: '特性示例：渐变色 阴影 点击缩放',
                //     subtext: 'Feature Sample: Gradient Color, Shadow, Click Zoom'
                // },
                xAxis: {
                    data: dataAxis,
                    axisLabel: {
                        inside: false,
                        textStyle: {
                            color: '#5fb0df'
                        }
                    },
                    axisTick: {
                        show: false
                    },
                    axisLine: {
                        show: false
                    },
                    z: 10
                },
                yAxis: {
                    axisLine: {
                        show: false
                    },
                    axisTick: {
                        show: false
                    },
                    axisLabel: {
                        textStyle: {
                            color: '#999'
                        }
                    }
                },
                dataZoom: [
                    {
                        type: 'inside'
                    }
                ],
                series: [
                    { // For shadow
                        type: 'bar',
                        itemStyle: {
                            color: 'rgba(0,0,0,0.05)'
                        },
                        barGap: '-100%',
                        barCategoryGap: '40%',
                        data: dataShadow,
                        animation: false
                    },
                    {
                        type: 'bar',
                        itemStyle: {
                            color: new echarts.graphic.LinearGradient(
                                0, 0, 0, 1,
                                [
                                    {offset: 0, color: '#83bff6'},
                                    {offset: 0.5, color: '#188df0'},
                                    {offset: 1, color: '#188df0'}
                                ]
                            )
                        },
                        emphasis: {
                            itemStyle: {
                                color: new echarts.graphic.LinearGradient(
                                    0, 0, 0, 1,
                                    [
                                        {offset: 0, color: '#2378f7'},
                                        {offset: 0.7, color: '#2378f7'},
                                        {offset: 1, color: '#83bff6'}
                                    ]
                                )
                            }
                        },
                        data: data
                    }
                ]
            },

        }
    },
    created(){
        // this.service()
    },
    mounted(){
        // var echarts = require("echarts");
        var Service = echarts.init(document.getElementById("service"))
        this.service(Service)
        var Age = echarts.init(document.getElementById("age"))
        this.age(Age)
        var Civilization = echarts.init(document.getElementById("civilization"))
        this.civilization(Civilization)
        var Bar = echarts.init(document.getElementById("bar"))
        this.bar(Bar)
        var Stacked = echarts.init(document.getElementById("stacked"))
        this.stacked(Stacked)
        var All = echarts.init(document.getElementById("all"))
        this.all(All)
    },
    methods:{
        service(dom) {
            const optionEcharts = {
            title: {
                text: ""
            },
            tooltip: {
                trigger: "axis",
                axisPointer: {
                type: "cross",
                label: {
                    backgroundColor: "#6a7985"
                }
                }
            },
            legend: {
                data: ["邮件营销", "联盟广告", "视频广告", "直接访问", "搜索引擎"]
            },
            toolbox: {
                feature: {
                saveAsImage: {}
                }
            },
            grid: {
                left: "3%",
                right: "4%",
                bottom: "3%",
                containLabel: true
            }
            };
            dom.setOption({...this.optionService,...optionEcharts})
        },

        age(dom) {
            const optionEcharts = {
            title: {
                text: "人员年龄分布"
            },
            legend: {
                orient: 'vertical',
                right: 0,
                data: ['30岁以下', '31至40岁', '41至50岁', '51至60岁', '60岁以上']
            },
            grid: {
                left: "3%",
                right: "4%",
                bottom: "3%",
                containLabel: true
            }
            };
            dom.setOption({...this.optionAge,...optionEcharts})
        },

        civilization(dom) {
            const optionEcharts = {
          title: {
            text: "员工文化程度"
          },
          legend: {
            orient: 'vertical',
            right: 0,
            data: ['初中 20%', '普通高中 20%', '大学 20%', '大专 20%', '其他 20%']
          },
          grid: {
            left: "3%",
            right: "4%",
            bottom: "3%",
            containLabel: true
          }
            };
            dom.setOption({...this.optionCivilization,...optionEcharts})
        },

        bar(dom) {
            const optionEcharts = {
            //   title: {
            //     text: "员工文化程度"
            //   },
            legend: {
                orient: 'vertical',
                right: 0,
                data: ['初中 20%', '普通高中 20%', '大学 20%', '大专 20%', '其他 20%']
            },
            grid: {
                left: "3%",
                right: "4%",
                bottom: "3%",
                containLabel: true
            }
                };
            dom.setOption({...this.optionBar,...optionEcharts})
        },

        stacked(dom){
            console.log(dom)
            const option = {
                 title: {
                // text: '南丁格尔玫瑰图',
                // subtext: '纯属虚构',
                left: 'center'
            },
            tooltip: {
                trigger: 'item',
                formatter: '{a} <br/>{b} : {c} ({d}%)'
            },
            legend: {
                left: 'center',
                top: 'bottom',
                data: ['0-100', '100-200', '200-300', '400-500']
            },
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    magicType: {
                        show: true,
                        type: ['pie', 'funnel']
                    },
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            series: 
                {
                    name: '半径模式',
                    type: 'pie',
                    radius: [20, 110],
                    center: ['25%', '50%'],
                    roseType: 'radius',
                    label: {
                        show: false
                    },
                    emphasis: {
                        label: {
                            show: true
                        }
                    },
                    data: [
                        {value: 10, name: '0-100'},
                        {value: 5, name: '100-200'},
                        {value: 15, name: '200-300'},
                        {value: 25, name: '400-500'},
                        {value: 20, name: '0-100'},
                        {value: 35, name: '100-200'},
                        {value: 30, name: '200-300'},
                        {value: 40, name: '400-500'}
                    ]
                },
            };
            dom.setOption({...this.optionStacked,option})
        },

        all(dom) {
            const optionEcharts = {
            //   title: {
            //     text: "员工文化程度"
            //   },
            legend: {
                orient: 'vertical',
                right: 0,
                data: ['初中 20%', '普通高中 20%', '大学 20%', '大专 20%', '其他 20%']
            },
            grid: {
                left: "3%",
                right: "4%",
                bottom: "3%",
                containLabel: true
            }
                };
            dom.setOption({...this.optionBar,...optionEcharts})
        },
    }
}
</script>

<style lang="scss" scoped>
    .dataService{
        width: 100%;
        background: url(../images/bg.jpg) 100%/100%;
        background-size: cover;
        height: 100vh;
        display: flex;
        flex-direction: column;
        >h1{
            margin: 0;
            color: #39d6fe;
            font-size: 48px;
            text-align: center;
            height: 64px;
            background: url(../images/bg1.jpg) 100%/100%;
            background-repeat: no-repeat;
            width: 100%;
        }
        .main{
            padding: 20px;
            height: 965px;
            // width: 100%;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            .left{
                width: 840px;
                height: 965px;
                background: url(../images/left_bg.png);
                background-size: cover;
                li{
                    padding-top: 60px;
                    position: relative;
                    display: flex;
                    h3{
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    #service,#age,#civilization{
                        width: 600px;
                        height: 200px;
                    }
                    #bar{
                        width: 100%;
                        height: 300px;
                    }
                }
                
            }
            .right{
                width: 1015px;
                height: 965px;
                background: url(../images/right_bg.png);
                background-size: cover;
                #all{
                    width:800px;
                    height: 300px;
                }
                >ul{
                    >li{
                        display: flex;
                        padding-top: 60px;
                        >.flower>.inner{
                            width: 321px;
                            height: 316px;
                            padding: 20px;
                            box-sizing: border-box;
                            background-image: url(../images/flower.png);
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            align-items: flex-end;
                            >span:nth-child(1){
                                align-self: flex-start;
                            }
                            >span:nth-child(2){
                                align-self: flex-start;
                            }
                            >span{
                                width: 110px;
                                height: 110px;
                                text-align: center;
                                display: flex;
                                align-items: center;
                                flex-direction: column;
                                justify-content: center;
                                font-size: 18px;
                                color: #fff;
                                >s{
                                    display: block;
                                    font-size: 30px;
                                    font-weight: bold;
                                }
                            }
                        }
                        #stacked{
                            width: 528px;
                            height: 574px;
                            background-image: url(../images/stack.png);
                        }
                    }
                }
            }
        }
    }
</style>