<template>
  <div class="all">
      <nav></nav>
      <div class="main">
          
        <div class="top">
            <div class="top-left">
                <h2>出口与进口</h2>
                <div id="line">

                </div>
            </div>
        </div>
      </div>
  </div>
</template>

<script>
export default {
    data() {
        return {
            optionLine :{
                
            }
        }
    },
}
</script>

<style lang="scss" scoped>
.all{
    width: 100vw;
    height: 100vh;
    background-color: #060327;
    nav{
        width: 100%;
        height: 108px;
        background-image: url(../images/allTop.png);
    }
    .main{
        padding: 36px 42px;
    }
    .top-left{
        width: 630px;
        height: 415px;
        background-image: url(../images/allbg.jpg);
        background-size: contain;
    }
}
</style>