<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="scss">
html,body{
  margin: 0;
  padding: 0;
}
#app{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  s{
    text-decoration: none;
  }
}
</style>
